.containerreal{
  overflow: hidden;
  max-height:240px;
  max-width:613.33px;
  min-height: 240px;
  min-width: 613.33px;
}

.redefineimg{
  min-width: 613.33px;
}


.trocapravermelho{
  color: red !important;
  background-color: red !important;
}
